.wrapper

  = render 'shared/side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          = @group.name #groupテーブルから名前を表示する

        %ul.left-header__members
          Member：
          %li.member
            - @group.group_users.each do |group_user|#@groupはコントローラーのset_groupにあるものを使用している。@groupとgroup_usersのアソシエーションを||に引き渡す。繰り返し表示されるようeachメソッドを使用。group_usersは複数あるものからじゅんに渡すためsがつく。
              = group_user.user.name#中間テーブルの書き方
              
      .right-header
        .right-header__button
          Edit
    .messages
      - @messages.each do |f|
        = render partial: "message", locals: { message: f }

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            %i.fa.fa-image
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'